@font-face {
    font-family: 'HelveticaNeueLTStd27UltraLightCondensedOblique';
    src: url('helveticaneueltstd-ultltcno.eot');
    src: url('helveticaneueltstd-ultltcno.eot') format('embedded-opentype'),
         url('helveticaneueltstd-ultltcno.woff2') format('woff2'),
         url('helveticaneueltstd-ultltcno.woff') format('woff'),
         url('helveticaneueltstd-ultltcno.ttf') format('truetype'),
         url('helveticaneueltstd-ultltcno.svg#HelveticaNeueLTStd27UltraLightCondensedOblique') format('svg');
}
