@font-face {
    font-family: 'HelveticaNeueLTStd27UltraLightCondensed';
    src: url('helveticaneueltstd-ultltcn.eot');
    src: url('helveticaneueltstd-ultltcn.eot') format('embedded-opentype'),
         url('helveticaneueltstd-ultltcn.woff2') format('woff2'),
         url('helveticaneueltstd-ultltcn.woff') format('woff'),
         url('helveticaneueltstd-ultltcn.ttf') format('truetype'),
         url('helveticaneueltstd-ultltcn.svg#HelveticaNeueLTStd27UltraLightCondensed') format('svg');
}
