{{! The who is 4K page }}

<div id="who" class="container featurette">
    <section class="row">

        {{! evert }}
        <div class="person col-lg-6 text-center">
            <img class="img-circle" src="{{ assets }}img/bitmap/bevert.jpg" />
            <h1 class="title">
                Evert <span class="quote">Je bent goed in wat je doet, zei moeder en vader</span>
            </h1>

            <p>
                Evert neemt de firma mee op sleeptouw doorheen het verhaal 4K.
                Maakt tijd voor afwerking en medewerkers. Een nette zaak en
                dankzij een georganiseerd team een afgewerkt project.
            </p>

            <address>
                <strong>Evert De Pourcq</strong><br />
                <a href="mailto:evert.de.pourcq@4k-interieur.be">
                    evert.de.pourcq@4k-interieur.be
                </a><br />
                <abbr title="Phone">T:</abbr>+32 (0)479 52 68 46
            </address>
        </div>

        {{! kris }}
        <div class="person col-lg-6 text-center">
            <img class="img-circle" src="{{ assets }}img/bitmap/kris.jpg" />
            <h1 class="title">
                Kris <span class="quote">Het moet goed zijn in het geheel, en niets anders</span>
            </h1>

            <p>
                Kris zie en hoor je denken. Een vakman in hart
                en ziel. Hij neemt voor u de tijd om alles gedetailleerd uit
                te leggen. Kan zo een antwoord geven op uw technische vraag.
                Is de enige contactpersoon tussen offerte en oplevering.
            </p>

            <address>
                <strong>Kris Vangaever</strong><br />
                <a href="mailto:kris.vangaever@4k-interieur.be">
                    kris.vangaever@4k-interieur.be
                </a><br />
                <abbr title="Phone">T:</abbr>+32 (0)494 53 39 09
            </address>

        </div>

    </section>
</div>
