{{! partners page }}

<div id="partners" class="container featurette">
    <section class="row">

        {{! Image }}
        <div class="col-sm-5">
            <img class="img-responsive"
                 src="{{ assets }}img/bitmap/rigole.jpg" />
        </div>

        {{! Tekst }}
        <div class="text-gutter-right col-sm-7">
            <div class="bread-text">
                <h1 class="title"><span class="icon-rigole">Rigole</span></h1>
                <p>
                    Dankzij de Groep RIGOLE kunnen wij nog meer tijd maken voor
                    onze klant en de afwerking. De groep Rigole neemt enkele
                    bedrijfstaken voor zich waardoor wij ons nog beter kunnen
                    focussen op onze specialiteit: focus op de klant en
                    kwalitatief maatwerk. Dankzij de samenwerking met
                    <strong>RIGOLE</strong> kunnen wij onverstoord aan de slag
                    gaan, elke dag opnieuw. Zo kan elk project gerealiseerd worden,
                    steeds volgens de gemaakte afspraken. Een sterk team is van
                    onschatbare waarde.
                </p>
            </div>
        </div>

    </section>

</div>
