{{! atelier }}
<div id="atelier" class="carousel slide" data-ride="carousel">
    {{! Indicators }}
    <ol class="carousel-indicators">
        <li data-target="#atelier" data-slide-to="0" class="active"></li>
        <li data-target="#atelier" data-slide-to="1"></li>
        <li data-target="#atelier" data-slide-to="2"></li>
        <li data-target="#atelier" data-slide-to="3"></li>
        <li data-target="#atelier" data-slide-to="4"></li>
    </ol>

    {{! Items }}
    <div class="carousel-inner">

        <div class="item active">
            <img src="{{ assets }}img/bitmap/atelier/1a.jpg" alt="Ons atelier – dat zijn 10 gemotiveerde medewerkers – met jarenlange ervaring of met veel potentieel, ingespeeld op elkaar, met vaste teams in atelier en op plaatsing. Onze uitrusting – dat is een modern machinepark – met automatische opdeelzaag, kantenlijmer en CNC-machines – met up-to-date handgereedschap en toebehoren – een volledig ingericht eigen spuitatelier.">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/atelier/2.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/atelier/3.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/atelier/4.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/atelier/5.jpg">
        </div>

    </div>

    {{! Controls }}
    <a class="left carousel-control" href="#atelier" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#atelier" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
