{{! the company page }}

<div id="about" class="container featurette">
    <section class="row">

        {{! Image }}
        <div class="four-qualities col-md-6">
            <p id="four-qualities">
                4K staat voor kwaliteit in <strong>afwerking</strong><br />
                kwaliteit in <strong>communicatie</strong><br />
                kwaliteit in <strong>organisatie</strong><br />
                en kwaliteit in <strong>medewerkers</strong>
            </p>
        </div>

        {{! Tekst }}
        <div class="col-md-6">
            <div class="bread-text">
                <p>
                    In de productie van maatmeubilair gaan wij heel ruim. We geven
                    bijzonder veel aandacht aan afwerking, communicatie en werken
                    enkel met de besten in hun vak.
                </p>

                <p>
                    Door onze grote technische kennis zijn wij voor de architect
                    een onmisbare factor en voor de eindklant een toegevoegde
                    waarde in het ontwerp.
                </p>

                <p>
                    Het project voeren wij graag uit tot in het kleinste detail;
                    van het eerste contact tot de oplevering.
                </p>

                <p>
                    Wij realiseren uw ontwerp.
                </p>
            </div>
        </div>

    <section>
</div>
