{{! features }}
<div id="features" class="carousel slide" data-ride="carousel">
    {{! Indicators }}
    <ol class="carousel-indicators">
        <li data-target="#features" data-slide-to="0" class="active"></li>
        <li data-target="#features" data-slide-to="1"></li>
        <li data-target="#features" data-slide-to="2"></li>
        <li data-target="#features" data-slide-to="3"></li>
        <li data-target="#features" data-slide-to="4"></li>
        <li data-target="#features" data-slide-to="5"></li>
    </ol>

    {{! Items }}
    <div class="carousel-inner">

        <div class="item active">
            <img src="{{ assets }}img/bitmap/features/1.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/features/2.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/features/3.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/features/4.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/features/5.jpg">
        </div>

        <div class="item">
            <img src="{{ assets }}img/bitmap/features/6.jpg">
        </div>

    </div>

    {{! Controls }}
    <a class="left carousel-control" href="#features" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#features" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
