{{! the contact page }}

<div id="contact">
    <div id="contact-info">
        <p>
            Het atelier en de burelen zijn steeds open voor een aangekondigd
            en onaangekondigd bezoek.
        </p>
        <address>
            <strong>4K Interieur N.V.</strong><br />
            Lieverstedestraat 23<br />
            B-8020 Oostkamp<br />
            <a href="mailto:info@4k-interieur.be">
                info@4k-interieur.be
            </a><br />
            <abbr title="Phone">T:</abbr>+32 (0)50 59 00 05
        </address>
    </div>

    <div class="map-components">
        <a id="contact-activate-toggle">Activeer kaart</a>
        <div id="contact-map"></div>
    <div>
</div>
