<nav id="main-navigation" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        {{! Brand and toggle get grouped for better mobile display }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-hide" href="#home">4K Interieur</a>
        </div>

        {{! Collect the nav links, forms, and other content for toggling }}
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#about">Over 4k</a></li>
                <li><a href="#features">Kwaliteit</a></li>
                <li><a href="#who">Communicatie</a></li>
                <li><a href="#atelier">Atelier</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
