{{! include navigation page }}

{{! include the home page }}
{{> index-home }}

{{! include the navbar }}
{{> navigation }}

{{! include the company page }}
{{> index-intro }}

{{! include the features page }}
{{> index-features }}

{{! include the whois page }}
{{> index-who }}

{{! include the atelier page }}
{{> index-atelier }}

{{! include the partners page }}
{{! {{> index-partners }}

{{! include the contact page }}
{{> index-contact }}
