<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="{{ assets }}img/bitmap/favicon.png">

    <title>{{ title }}</title>

    <script>window.ASSETS="{{ assets }}";</script>

    {{! CSS }}
    <link href="{{ assets }}css/style.css" rel="stylesheet">

    {{! HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries }}
    <!--[if lt IE 9]>
      <script src="{{ assets }}js/html5shiv.min.js"></script>
      <script src="{{ assets }}js/respond.js"></script>
    <![endif]-->

    {{> icon-loader }}

    {{> ga }}

  </head>

  <body>

    {{> body }}

    {{> footer }}

    <script src="{{ assets }}js/script.min.js"></script>

  </body>
</html>
