/**
 * Stlye de aboute page
 */

#about {

    .bread-text {
        padding: 32px 0;
        padding: {
            left: 32px;
            right: 210px;
        }

        @media screen and (max-width: 1200px) {
            padding: {
                right: 90px;
            }
        }

        @media screen and (max-width: 991px) {
            text-align: justify;
            padding: {
                right: 32px;
            }

            max-width: 525px;
            margin: auto;
        }
    }

    #four-qualities {
        padding: {
            top: 23px;
            right: 32px;
        }
        text-align: right;
        font: {
            size: 36px;
            family: $font-red;
        }
        color: $brown;

        @media screen and (max-width: 991px) {
            text-align: center;
            padding: {
                top: 0;
                right: 0;
            }
        }

        @media screen and (max-width: 767px) {
            font: {
                size: 26px;
            }
            padding: {
                top: 50px;
            }
        }

        strong {
            font: {
                family: $font-green;
            }
        }
    }

}
