/**
 * Style the carousel
 */

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-inner {
    .carousel-caption {
        text: {
            align: center;
        }

        font: {
            family: $font-red;
        }
        letter-spacing: 1.5px;

        @media screen and (max-width: 767px) {
            h1 {
                font: {
                    size: 18px;
                }
            }
        }

        @media screen and (min-width: 768px) {
            margin: {
                bottom: 50px;
            }
        }
    }
}
