/**
 * Style contact page
 */

#contact {

    // Patch partner thing removal
    // margin-top: 50px;
    position: relative;

    /* make wrapper relative */
    .map-components {
        position: relative;
    }

    /* set the height of the contact map */
    #contact-map {
        height: calc(100vh - 100px);
        z-index: 1;
    }

    #contact-info {
        position: absolute;
        z-index: 2;
        left: 100px;
        top: 50px;
        width: 300px;
        background: {
            color: $brown;
        }
        padding: 25px;
        color: $white;
        border: {
            radius: 4px;
        }

        address {
            margin: {
                bottom: 0;
            }

            a {
                color: $white;
                text: {
                    decoration: underline;
                }
            }
        }

        @media screen and (max-width: 767px) {
            position: relative;
            left: 0;
            top: 0;
            width: auto;
        }
    }

    #contact-activate-toggle {
        z-index: 2;
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
        padding: 15px;
        color: $white;
        background: {
            color: $brown;
        }
        border: {
            radius: 4px;
        }
        text: {
            transform: lowercase;
            decoration: none;
        }
        cursor: pointer;
    }
}
