/**
 * A featurette
 */
.featurette {

    padding: {
        top: $featurette-padding-tb + 50px;
        bottom: $featurette-padding-tb;
    }


    @media screen and (max-width: 767px) {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }

    .text-gutter-left {

        @media screen and (min-width: 768px) {

            padding-right: $featurette-text-gutter;

        }
    }

    .text-gutter-right {

        @media screen and (min-width: 768px) {

            padding-left: $featurette-text-gutter;

        }
    }

    @media screen and (min-width: 768px) {
        .text-gutter-left, .text-gutter-right {
            padding: {
                top: 30px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .text-gutter-left, .text-gutter-right {
            margin: {
                left: 5px;
                right: 5px;
            }
        }
    }

    .person {
        @media screen and (min-width: 550px) {
            padding: {
                left: 50px;
                right: 50px;
            }
        }


        @media screen and (max-width: 1199px) {
            margin: {
                top: 75px;
                bottom: 75px;
            }
        }

        .title {
            font: {
                size: 25px;
            }
            margin: {
                top: 40px;
                bottom: 25px;
            }
        }
    }

    .title {
        color: $brown;
        font: {
            family: $font-blue;
            size: 40px;
        }
    }
}
