/**
 * Font definitions
 */

@mixin load-font($name, $path) {

    $insert: $path + "/" + $name;

    @font-face {
        font-family: $name;
        src: url("../fonts/" + $insert + ".eot");
        src: url("../fonts/" + $insert + ".eot?#iefix") format("embedded-opentype"),
             url("../fonts/" + $insert + ".woff2") format("woff2"),
             url("../fonts/" + $insert + ".woff") format("woff"),
             url("../fonts/" + $insert + ".ttf") format("truetype"),
             url("../fonts/" + $insert + ".svg#" + $name) format("svg");

        font-weight: normal;
        font-style: normal;
    }
}

/* load the fonts */
@include load-font($font-red, $font-red);
@include load-font($font-blue, $font-blue);
@include load-font($font-green, $font-green);
@include load-font($font-yellow, $font-yellow);
