/**
 * Style the footer
 */

footer {
    font: {
        family: $font-green;
        size: 16px;
    }
    background: {
        color: $brown;
    }
    color: $white;
    padding: $footer-padding;
    box-sizing: border-box;
    height: 50px;
}
