/**
 * Determine the general style
 */

/* make page height full */
html, body {
    height: 100%;
}

.quote {
    &::before {
        content: "- \201C";
    }

    &::after {
        content: "\201D";
    }

    font: {
        family: $font-red;
        size: 22px;
    }
    color: #000;
}

strong {
    font: {
        family: $font-green;
        weight: normal;
    }
}
