/**
 * index home styling
 */

#home {

    /* size */
    width: 100%;
    height: 100%;

    /* background */
    background: {
        color: $brown;

        /* logo */
        position: center center;
    }

    /* next page link */
    position: relative;

    /* center link */
    .next-page-wrapper {
        position: absolute;
        bottom: $scroll-down-side / 2;
        left: 50%;
    }

    .next-page {
        /* center link */
        position: relative;
        left: -50%;
        top: 0;

        /* style link */
        display: block;
        width: $scroll-down-side;
        height: $scroll-down-side;
    }

}

.xs.landscape {
    #home {

        .next-page-wrapper {
            bottom: $scroll-down-side-sm / 2;
        }

        .next-page {
            width: $scroll-down-side-sm;
            height: $scroll-down-side-sm;
        }

    }
}
