/**
 * Style the navbar
 */

nav#main-navigation {

    font: {
        family: $font-green;
        size: 16px;
    }

    .navbar-brand {
        width: 50px;
        height: 50px;
    }

    border: {
        top: none;
        left: none;
        right: none;
        radius: 0;
    }

    margin: {
        bottom: -50px;
    }

    .navbar-toggle {
        background: {
            color: $brown;
        }

        &:hover {
            .icon-bar {
                background: {
                    color: $brown;
                }
            }

            background: {
                color: $white;
            }
        }
    }

    &.affix {
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .active a {
        background: {
            position: center 40px;
        }
    }

    a {

        &, &:active {
            color: $white;
        }

        &:hover {
            color: $brown-half;
        }
    }
}
