/**
 * Partners specific styling
 */

#partners {
    .icon-rigole {
        width: 150px;
        height: 30px;
        display: inline-block;
        overflow: hidden;
        text: {
            indent: -10000px;
        }
    }

    .bread-text {
        padding: {
            right: 100px;
        }

        @media screen and (max-width: 991px) {
            padding: {
                right: 15px;
            }
        }
    }
}
