/**
 * set variables and override bootstrap variables
 */

/* change the fonts */
$font-red: "red";
$font-blue: "blue";
$font-green: "green";
$font-yellow: "yellow";

$font-size-base: 15px;
$font-family-sans-serif: $font-yellow;

/* the 4K specific brown */
$brown: #B26300;
$brown-half: #CB8D4B;

/* general white */
$white: #ffffff;

/* the scroll down icon */
$scroll-down-side: 66px;
$scroll-down-side-sm: 22px;

/* featurette-config */
$featurette-padding-tb: 100px;
$featurette-text-gutter: 75px;

/* footer-config */
$footer-padding: 14px;

/* navbar config */
$navbar-default-link-color: $white;
$navbar-default-border: $white;
$navbar-default-bg: $brown;
$navbar-default-toggle-icon-bar-bg: $white;
$navbar-default-toggle-border-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: $brown;
